html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

.scatter-tooltip {
	position: absolute;
	pointer-events: none;
	padding: 8px;
	border: 1px solid var(--chakra-colors-gray-800);
	border-radius: var(--chakra-radii-md);
	background: var(--chakra-colors-gray-50);
	color: var(--chakra-colors-gray-800);

	display: flex;
	flex-direction: row;

	width: 400px;
}
.scatter-tooltip img {
	width: 96px;
	height: 96px;
	margin-right: 8px;
}
.scatter-tooltip-details {
	display: flex;
	flex-direction: column;
}
